
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}

body > * {
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: opacity .3s;
    &:hover, &:focus {
        opacity: .6;
    }
}
