.hero {

    background-color: #333;
    color: white;
    padding: 4rem 1rem;
    position: relative;
    overflow: hidden;

    &__back-link {
        color: white;
        text-decoration: none;
        transition: opacity .3s;

        &:hover, &:focus {
            opacity: .6;
        }
    }

    &__back-arrow {
        padding-right: .5em;
    }

    &__image {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        object-position: center;
        object-fit: cover;
        transition: opacity .3s ease-in-out;

        &--ready {
            opacity: .3;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    &__title {
        font-weight: lighter;
        font-size: 2rem;
    }

    &__subtitle {
        font-size: 1.5rem;
    }
    
    @include respond-to(small) {
        padding-top: 24rem;
        padding-bottom: 4rem;
        
        &__title {
            font-size: 3rem;
        }
    }

}
