.section {

    padding: 2rem 1rem;
    
    &--tiny {
        padding-top: 0;
    }

    &__title {
        font-weight: normal;
        font-size: 1.5rem;
        
        &--link {
            color: #333;
            text-decoration: none;
            padding-bottom: 0.15em;
            border-bottom: solid 2px #333;
            transition: opacity .3s;
            
            &:hover, &:focus {
                opacity: .6;
            }
        }
    }

    &__content {

        line-height: 1.5;

        h1 {
            color: red !important;
        }

        h2, h3, h4, h5, h6 {
            margin-top: 2rem;
            font-weight: normal;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.75rem;
        }

        h4 {
            font-size: 1.5rem;
        }

        p {
            margin-top: 1rem;
        }

        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        ol, ul {
            margin-top: 1rem;
            list-style: initial;
            padding-left: 2rem;
        }

        ol {
            list-style-type: decimal;
        }

        blockquote {
            padding-left: 1rem;
            border-left: solid 3px #ccc;
        }

        li {
            margin-top: .5rem;
        }

        a {
            color: #333;
        }

    }

    @include respond-to(small) {

        padding-top: 4rem;

        &--tiny {
            padding-top: 0;
        }

        &__title {
            font-size: 2rem;
        }

        &__content {
            padding-top: 1rem;
            font-weight: lighter;
            strong {
                font-weight: normal;
            }
            font-size: 1.25rem;
            max-width: 80ch;
        }

    }
}
