mixin footer(footer)
  footer.footer
    .container
      .footer__links
        each link in footer.links
          a.footer__link( href=link.url )
              i.footer__link-icon.fa( class=`fa-${link.icon}` )
