mixin navbar(navbar)
  nav.nav
    .container.nav__container
      a.nav__brand.link( href="/" )
        img.nav__brand-image( src=navbar.brand.image alt=navbar.brand.altText )
      .nav__links
        each link in navbar.links
          a.nav__link.link( class=(link.url === url ? "nav__link--active" : "") href=link.url )=link.label
